<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/icon.ico" type="'image/ico">
    <link rel="stylesheet" href="../css/stylelogin.css">
    <title>Acesso ao Sistema</title>
</head>
<body>
    <div id="loginContainer">
        <form id= 'form_login'action = 'http://localhost:8081/login' method="post">
            <h1>Faça seu login</h1>
            
            <input type="text" id="username" name="username" placeholder="Usuário">
  
            <input type="password" id="password" name="password" placeholder="Senha">
            
            <input type="submit" value="Entrar" name="acao">
        </form>    
    </div>
    
    
</body>
</html>